.car-section{
    display:flexbox;
    height: 600px;
   width: 77%;
   margin-left: 12%;
   margin-right: 12%;
  
   justify-content: center;
   align-content: center;
}

.textosCar{
    justify-content: center;
    align-content: center;
    margin-top: 3%;
    margin-left: 3%;
    width: 100%;
 
}

.primeraParteCar{
    color: #36B079;
    font-weight: bold;
    
}

.subtituloCar{
    display: flex;
    font-family: rouben ligth;
    font-size: 20px;
    width: 35vw;
    color: white;
    z-index: 999;
}
.tituloCar{
    
    font-family: rouben;
    font-size: 36px;
    width: 35vw;
    font-weight: 500;
    margin-bottom: 3%;
    color:white ;
    margin-top: 10%;
    z-index: 999;

}
.sliderCar{
    height:300px;
    width:100%;
    text-align:"center";
   
}
.slick-arrow.slick-prev,.slick-arrow.slick-next{
    margin-top: 14%;
}


@media only screen and (max-width:1350px){
    .tituloCar{
       font-size: 30px;
    
    }
}

@media only screen and (max-width: 550px) {

    .car-section{
        height: 300px;
        margin-bottom: 10%;
    }
    .textosCar{
        display: flex;
       margin-top: 35%;
        margin-left: 5%;
        margin-right: auto;
        height: auto;
        margin-bottom: 50px;
    }
    .tituloCar{
        font-family: rouben;
        font-size: 22px;
        width: 90%;
        font-weight: 500;
        
        color:white ;
        margin-top: 10%;
    
    }
    
.subtituloCar{
    font-family: rouben ligth;
    font-size: 16px;
    margin-top: 5%;
    width: 90%;
    color: white;
}
.card-contenedor{
    display: none;
}
.animacion-car{
    display: none;
}
.primeraParteCar{
   font-size: 22px;
}

}
@media only screen and (max-width: 400px) {
    .tituloCar{
        font-size: 22px;
        width: 90%;
    }
    .subtituloCar{
        font-size: 16px;
        width: 85%;
    }
}

