.contact-container2{
    display: flex;
    flex-direction: row;
   
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    
}

.contact-section{
    display: flex;
    height: auto;
    background-color: rgba(255, 255, 255, 0.114);
    width: 90%;
    height: auto;
    margin: auto;
    margin-bottom: 100px;
    border: 2px solid transparent;
    border-image: linear-gradient(to right, white, gray, transparent) 1;
    margin-top: 100px;
    border-radius: 15px;
    -webkit-mask: /*4*/
    linear-gradient(#fff 0 0) padding-box, 
    linear-gradient(#fff 0 0);
 
        

 
}
.contact-form{
    display: flex;
    flex-direction: column;
    margin: 5vh auto;
    width: 40vw;
    
  
}
.contact-form label{
    color: white;
    font-family: rouben;
    margin-left: 35%;
    margin-top: 20px;
    margin-bottom: -10px;
}

.contact-input{
    border-style: none;
    margin-left: auto;
    margin-top: 2%;
   width:60% ;
    height: 2.5vh;
    background: #303030;
    color: white;
    padding: 10px 20px;
    /* border: 2px solid transparent;
    border-image: linear-gradient(to bottom, white, gray, transparent) 1; */
    border-radius: 15px;
   
}
 textarea {
    font-family: sans-serif;
 }
.contact-input-description{
    
    border-style: none;
    margin-left: auto;
    margin-top: 2%;
    width:60% ;
    height: 90px;
    border-radius: 15px;
    background: #303030;
    color: white;
    padding: 10px 20px;
   
}
.contact-select{
    
    border-style: none;
    
    margin-top: 2%;
    width:65% ;
    margin-left: auto;
    border-radius: 15px;
    background: #303030;
    color: rgba(255, 255, 255, 0.4);
    padding: 10px 20px;
   
}

.contact-input::placeholder{
    
    font-size: 0.9rem;
}
.contact-input-description::placeholder{
    
    font-size: 0.9rem;
}



.contact-button{
    border-style: none;
    background: #328761;
    width: 100px;
    margin-top: 6%;
    margin-bottom: 10%;
    height: 35px;
    border-radius: 30px;
    font-family: rouben;
    font-size: 1rem;
    justify-content: end;
    align-self: flex-end;
    margin-left: 81%;
    color: white;
    cursor: pointer;
}


.titulos-contact{
    display: flex;
    height: 100%;
    margin-left: 0;
    flex-direction: column;
    margin-bottom: auto;
    margin-right: auto;
    margin-top: 5vh;
    
}
.contact-titulo{
    justify-content: flex-start;
    align-self: flex-start;
    display: flex;
    font-family: rouben;
    font-size: 4.5rem;
    width: 100%;
    margin-left: 60px;
    color: white;
}
.contact-titulo2{
    justify-content: flex-start;
    align-self: flex-start;
    display: flex;
    font-family: rouben;
    font-size: 2.5rem;
    margin-top: 4%;
    color: white;
}
.contenedorFlex2{
    display: flex;
    justify-content: center;
    margin-left: auto;
    width: 68%;
    margin-bottom: 20px;

}
.contact-subtitulo{
    justify-content: flex-start;
    align-self: flex-start;
    display: flex;
    margin-left: 60px;
    font-family: rouben ligth;
    font-size: 1.5rem;
    color: white;

}
.contact-subtitulo2{
    display: flex;
    margin-top: 20px;
    font-family: rouben;
    font-size: 1.5rem;
    color: white !important;
    
   
}
.contact-subtitulo3{
    display: flex;
    margin-top: 20px;
    font-family: rouben;
    font-size: 1rem;
    color:rgba(255, 255, 255, 0.713);
    
   
}


.iconos-register{
    display: grid;
    grid-template-columns: auto auto;
    gap: 50px;
    margin: auto;
    margin-top: 30%;
    margin-left: 60px;
}
@media only screen and (max-width:1500px){
    

    .contact-titulo{
       font-size: 3.5rem;
       width: 100%;
    }
    .contact-subtitulo{
        font-size: 1.2rem;
     }
   
    .contact-form{
        margin-top: 5vh ;
     
      
     
      
    }
}
@media only screen and (max-width:1100px){
    .contact-titulo{
        font-size: 2.5rem;
        width: 100%;
        margin-left: 0;
     }
     .contact-subtitulo{
        font-size: 0.9rem;
        margin-left: 0;
     }
     .contenedorFlex2{
        justify-content: flex-start;
        margin-top: 50px;
     }
     .boton-contact-form{
        
        width: 70% ;
        font-family: rouben ligth;
        font-weight: lighter;
        padding: 10px ;
      
        margin-left: 0;
        font-size: 12px;
        
      
      
      }
}
@media only screen and (max-width:650px){
    .contact-container{
        margin-left: 14vw;

    }
    .titulos-contact{
        margin: auto ;
        margin-top: 30px;
        margin-bottom: -10px;
    }
    .contenedorFlex2{
        display:flex;
        flex-direction: column;
        margin: 30px auto;
        
    }
    .contact-container2{
        display: flex;
        flex-direction: column;
        width: 80%;
        height: auto;

        margin-left: auto;
        margin-right: auto;
        
        
    }
    .contact-titulo{
        justify-content: center;
        align-self: center;
        margin-left: auto;
        font-size: 3rem;
        width: 100%;
       
    }
    .contact-subtitulo{
        justify-content:center;
        align-self:center;
    }

    .contact-form{
      width: 100%;
      justify-content: center;
      align-self: center;
      
    }
    .contact-input{
        width:90%;
        height: 20px;
        margin-top: 5%;
    }

    .contact-input-description{
        margin-top: 5%;
        width:90% ;
        height: 90px;
    }

    .contact-section{
        height: 100%;
        width: 80%;
        border: 2px solid transparent;
        border-image: linear-gradient(to bottom, white, gray, transparent) 1 ;
        
    }
    .contact-input-description::placeholder{
    
        font-size: 0.9rem;
        width: 100%;
    }

    .contact-button{
        margin-left: 58%;    
        font-size: 1rem;
        justify-content: center;
        align-items: center;
    }
    .contact-span{
       justify-content: center;
       margin-left: 30%;
    }
}
