.contenedorSegundo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12%;
    margin-right: 150px;
    height: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
    
}
.textos{
    width: 90%;
    margin-top: 0%;
    margin-left: auto;
    margin-right: auto;
}

.fotoSegundo{
    display: flex;
    margin-left: 50px;
    width: 45%;
    z-index: 0;
    margin-right: 70px;
}


.tituloSegundo{
    font-family: rouben;
    font-size: 3.5rem;
    width: 60%;
    font-weight: 500;
    margin-bottom: 2%;
}
.subtituloSegundo{
    font-family: rouben ligth;
    font-size: 1.3rem;
    width: 35%;
    color: white;
    
}
.primeraParte{
    color: #36B079;
    font-weight: bold;
}
@keyframes animation1{
    0% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(-60px);
    }
    100% {
        transform: translateY(-10px);
    }
}

@media only screen and (max-width: 550px) {

    .contenedorSegundo{
        display: grid;
    }

    .textos{
        width: 85%;
        margin-top: 10%;
        margin-left: 60px;
        margin-right: 50px;
       
    }
  
    
    .contenedorSegundo{
        justify-content: center;
        align-items: center;
        margin-top: 0;
        width: 100%;
        margin: 0;
        height: 350px;
        margin-top: -15%;
       
   
    }
    .primeraParte{
        color: #36B079;
        font-weight: bold;
        font-size: 16px;
        width: 90%;
        
    }
    .fotoSegundo{
        height: 95%;
        z-index: 0;
        width: 80%;
        margin: 0;
        margin-left: 8%;
    
    }
    .subtituloSegundo{
        margin-bottom: 10%;
        font-family: rouben ligth;
        font-size: 12px;
        width: 90%;
        color: white;
        
    }
    .tituloSegundo{
        font-family: rouben;
        font-size: 20px;
        width: 100%;
        height: 20%;
        font-weight: 500;
        margin-bottom: 2%;
        
    }

}
@media only screen and (max-width: 400px) {
    .textos{
        width: 75%;
        margin-top: 10%;
        margin-left: 40px;
        margin-right: 40px;
       
    }
}
@media only screen and (max-width: 1450px) {

    .tituloSegundo{
      
        font-size: 3rem;
       
    }
}