.contenedor-flex-only{
    display: flex;
    

}
.div-newApp{
    font-size: 1.8rem;
    font-family: rouben ;
    color: white;
    margin: 10px;
}


.span-newApp{
    font-family: rouben ;
    color: white;
    margin: 10px;
}
.span-newApp2{
    font-family: rouben ;
    color: rgba(255, 255, 255, 0.713);
    margin: 10px;
}
.contenedor-newApp{
    display: flex;
    flex-direction: column;
    margin-left: 320px;
  
}

.input-newApp{
    height: 30px;
    width: 200px;
    border-radius: 5px;
    margin-left: 10px;
    background-color: rgb(39, 39, 39);
    border: 2px solid grey;
}
.card-newApp{
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 380px;
    background-color: #0c1317d9;
    border-radius: 5px;
    border: 2px solid grey;
    margin-left: 10px;
    
    justify-content: center;
    text-align: center;
}
.icon-card-newApp{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.icon-webCard{
    height: 20px;
    margin: 25px 10px;

}
.titulo-webCard{
    background-color: #0c1317;
    width: 50%;
    height: 70px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.509);
    border-left: 1px solid rgba(255, 255, 255, 0.509);
    border-right: 1px solid rgba(255, 255, 255, 0.509);
    
}
.titulo-webCard span{
    color: white;
    margin-top: 22px;
    font-family: rouben;
    font-size: 1.2rem;
}
.opciones-webCard{
    background-color: #0c1317d9;
    height: 300px;
    width: 50%;
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.509);
}