.banner-section{
    height: 100%;

   justify-content: center;
   align-content: center; 
}

.producto-principal{
    color: white;
    font-family: rouben;
    font-size: 26px;
    margin-bottom: -4%;
    margin-top: 3%;
}

.textosBanner{
    justify-content: center;
    align-content: center;
    margin-top: 10%;
    margin-left: 12%;
    width: 700px;
}
.banner-container{
    display: flex;
    height: 700px;
}

.primeraParteBanner{
    color: #36B079;
    font-weight: bold;
}

.subtituloBanner{
    font-family: rouben ligth;
    font-size: 20px;
    width: 85%;
    color: white;
}
.tituloBanner{
    font-family: rouben;
    font-size: 3rem;
    width: 100%;
    font-weight: 500;
    margin-bottom: 3%;
    color:white ;
    margin-top: 10%;
    background: linear-gradient(225deg, #fff 30%, #36B079 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.ilustracion-bannerGrande{
    display: flex;
    justify-content: flex-end;
    width: 450px;
   height: 500px;
   margin-top: 12%;
   margin-bottom: auto;
   margin-left: 10%;
   
 }
 .ilustracion-bannerChica{
    display: flex;
    justify-content: flex-end;
    width: 550px;
   height: 400px;
   margin-top: 250px;
   margin-bottom: auto;
   margin-left: 8%;
   
 }

 .container-botones{
    display: flex;
    margin-top: 50px;
   
    margin-bottom: 100px;
 }
 .boton-create-asic{
    background-color:#36B079;
    height: 50px;
 }
 .boton-create-asic2{
    background-color: #0c1317;
 }
 @media only screen and (max-width:1500px){
    
    .ilustracion-bannerGrande{
       width: 500px;
     }
     .ilustracion-bannerChica{
       width: 450px;
       
     }
     .tituloBanner{
        width: 550px;
     }

 }

 @media only screen and (max-width:1250px){

    .ilustracion-bannerGrande{
        width: 400px;
      }
 }