.banner-section{
    height: 100%;

  
}

.producto-principal{
    color: white;
    font-family: rouben;
    font-size: 26px;
    margin-bottom: -4%;
    margin-top: 3%;
}

.textosBanner{
    justify-content: center;
    align-content: center;
    margin-top: 20%;
    width: 90%;
}
.banner-container{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 700px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.banner-container2{
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.banner-container3{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.primeraParteBanner{
    color: #36B079;
    font-weight: bold;
}

.subtituloBanner{
    font-family: rouben ligth;
    font-size: 20px;
    width: 85%;
    color: white;
}
.subtituloBanner2{
    display: flex;
    font-family: rouben ligth;
    font-size: 20px;
    width: 100%;
    color: white;
    justify-content: center;
}
.subtituloBanner3{
    display: flex;
    font-family: rouben ligth;
    font-size: 20px;
    width: 50%;
    margin: 20px auto;
    color: rgba(255, 255, 255, 0.657);
    
    text-align: center;
}
.tituloBanner{
    font-family: rouben;
    font-size: 3.5rem;
    width: 100%;
    font-weight: bold;
    margin-bottom: 3%;
    color:white ;
    margin-top: 10%;
    background: linear-gradient(225deg, #fff 30%, #36B079 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.ilustracion-bannerGrande{
    display: flex;
    width: 100%;
    height: 60%;
    margin-top: 20%;
    margin-bottom: auto;
    margin-left: 5%;
   
 }
 .ilustracion-bannerChica{
    display: flex;
    justify-content: flex-end;
    width: 550px;
   height: 400px;
   margin-top: 250px;
   margin-bottom: auto;
   margin-left: 8%;
   
 }

 .container-botones{
    display: flex;
    margin-top: 50px;
   
    margin-bottom: 100px;
 }
 .boton-create-asic{
    background-color:#36B079;
    height: 50px;
 }
 .boton-create-asic2{
    background-color: #0c1317;
 }
 .itemMigration{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    height: auto;
 }
 .itemMigration span{
    color: white;
    border: 2px solid white;
    padding: 20px;
    border-radius: 100%;
    width: 10px;
    margin: auto;

 }
 .itemMigration div{
    display: flex;
  justify-content: center;
  text-align: center;
 
  color: white;
  opacity: 1;
  font-family: rouben;
  font-size: 2rem;
  width: 60%;

  margin: auto;
  
 }
 .itemMigration p{
    display: flex;
    font-family: rouben ligth;
    font-size: 16px;
    width: 60%;
   color: rgba(255, 255, 255, 0.702);
    margin: auto;
   text-align: center;
 }
 .migration-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    background-color: #0c131787;
    width: 400px;
    padding: 30px;
    border-radius: 15px;
    height: auto;
    color: white;
    border: 2px solid white;
 }
 .migration-form h1{
    font-family: rouben;
    justify-content: center;
    margin: auto;
    margin-bottom: 30px;
 }
 .migration-form label{
    font-family: rouben ligth;
    font-size: 0.9rem;
    margin: 10px auto;
 }
 .migration-form input{
    height: 25px;
    border-radius: 10px;
    padding: 10px;
 }
 .migration-form button{
    margin:auto;
    margin-top: 30px;
    background-color: #36B079;
 }
 .faded {
    
  backdrop-filter: blur(10px);
  
   
  }

 @media only screen and (max-width:1500px){
/*     
    .ilustracion-bannerGrande{
       width: 500px;
     } */
     
    

 }

 @media only screen and (max-width:1250px){

    /* .ilustracion-bannerGrande{
        width: 400px;
      } */
 }

 @media only screen and (max-width:650px){
    .ilustracion-bannerGrande{
        display: none;
    }
    .banner-container{
        width: 100%;
    }
    .textosBanner{
        margin-top: 100px;
        margin-bottom: -100px;
        margin-left: auto;
        margin-right: auto;
    }
    .tituloBanner{
        font-size: 1.8rem;
        font-weight: 100;
       
    }
    .banner-container{
        display: flex;
        height: 100%;
    }
    .subtituloBanner{
        font-family: rouben;
        display: flex;
        justify-content: center;
        margin: 0 !important;
        font-size: 1rem;
    }
    .producto-principal{
        display: flex;
        font-size: 2.5rem;
        justify-content: center;
       
    }
 }