.cardsAsicContainer{
    display: grid;
    height: 600px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    margin-top: 7%;
    opacity: 0;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    
}
.titulo-asic{
  display: flex;
    margin-top: 5%;
    color: white;
    opacity: 0;
    font-family: rouben;
    font-size: 3rem;
    width: 80%;
    margin-right: auto;
    animation: fade-in-left 1s forwards 0.5s;
    
}
.foto-card-asic{
  display: flex;
  height: 60px;
  vertical-align: middle;
}
.cardsAsicContainer div{
    display: flex;
   
    width: 98%;
    height: 350px;
    background-color: #0c1317;
   margin-left: auto;
   margin-right: auto;
    border-radius: 10px;
    border: none;
    opacity: 0; /* Initially set the opacity to 0 */
    animation: fade-in-down 1s forwards; /* Apply the fade-in animation */
}

.cardsAsicContainer h1{
    color: white;
    font-family: rouben ligth;
    font-size: 1.7rem;
    margin-top: 6%;
    padding: 0px 5%;
    width: 100%;
}

.cardsAsicContainer span{
    color: rgba(255, 255, 255, 0.561);
    font-family: rouben;
    padding: 0px 5%;
}

.cardAsic{
    display: flex;
    flex-direction: column;
}
.cardIcon{
    color: white;
    width: 60px !important;
    height: 60px !important;
    background: linear-gradient(to right, #36B079, #8ae1ba) !important;
    border-radius: 10px !important;
    margin-left: 5% !important;
    margin-top: -15%;
    

}
.fade-in {
    animation: fade-in-down 1s forwards 0.6s;
    opacity: 0;
  }

@keyframes fade-in-down {
    from {
      opacity: 0; /* Start with opacity 0 */
      transform: translateY(50px); /* Start slightly offscreen to the left */
    }
    to {
      opacity: 1; /* End with opacity 1 */
      transform: translateY(0); /* Slide in to the original position */
    }
  }
  
@keyframes fade-in-left {
    from {
      opacity: 0; /* Start with opacity 0 */
      transform: translateX(0); /* Start slightly offscreen to the left */
    }
    to {
      opacity: 1; /* End with opacity 1 */
      transform: translateX(12.4%); /* Slide in to the original position */
    }
  }

  @media only screen and (max-width: 1500px) {
    .titulo-asic{
      margin-top: 10%;
    }

    @media only screen and (max-width: 550px) {

      .cardsAsicContainer{
        grid-template-columns: auto;
        height: 100%;
      }
      .cardsAsicContainer span{
        display: none;
      }
      .cardAsic{
        margin: 20px;
      }
    }

  }