.container-asicHosting{
   
    background-image: url("../../../public/fondoFinal7.svg");
    background-size: cover;
    min-height: 100vh;
    height: 100%;
  
  
}
.container-asicHosting.blur-background{
    filter: blur(8px);
}



.card-not-mining{
    display: flex;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 800px;
    height: 300px;
    background-color: #0c1317;
    margin-left: calc((100% + 240px - 800px) / 2);
    border-radius: 5px;
    
    
}
.info-not-mining{
    margin-left: 60px;
    margin-right: 40px;
    margin-top: 5%;
}
.titulo-not-mining{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    width: 85%;
    color: white;
}
.subtitulo-not-mining{
    margin-top: 7%;
    font-family: rouben ligth;
    font-size: 1.1rem;
    color: rgba(255, 255, 255, 0.786)
}
.boton-not-mining{
    display: flex;
    background-color: #36B079;
    margin: 0;
    margin-top: 5%;
    font-family: rouben ligth;
    padding: 5px 5px;
    width: 170px;
    height: 35px;
    justify-content: center;
}
.card-asicHosting{
    display: flex;
    flex-direction: column;
   
    margin: 40px;
    padding: 0;
    width: 380px;
    height: 380px;
    background-color: white;
    border-radius: 10px ;
}
.textos-card-asicHosting{
    width: 100%;
    justify-content: center;
}
.primer-texto-asicHosting{
    display: flex;
    font-family: rouben;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.519);
    justify-content: center;
}
.titulo-asicHosting{
    display: flex;
    font-family: rouben;
    font-size: 1.4rem;
    font-weight: bold;
    justify-content: center;
}
.velocidad-asicHosting{
    display: flex;
    justify-content: center;
    font-family: rouben ligth;
    margin-top: 10px;
}
.precio-asicHosting{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-family: rouben;
    margin-top: 5px;
}
.boton-asicHosting{
    display: flex;
    justify-content: center;
    background-color: #36B079;
    margin-left: auto;
    margin-right: 0;
    font-size: 0.7rem;
    padding: 6px 6px;
    margin-top: 3px;
    width: 110px
}
.foto-asicHosting{
    display: flex;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 250px;
 
}
.calificacion-asicHosting{
    display: flex;
    justify-content: center;
    font-size: 0.7rem;
    font-family: rouben;
    color: rgba(0, 0, 0, 0.519);
    border-top: 1px solid rgba(128, 128, 128, 0.578);
    text-align: center;
    padding-top: 3.5%;   
    margin-bottom: 5%;
    height: 100%;
}
.cards-productos-asicHosting{
    display: flex;
    
   
}
.faqs-container-asicHosting{
    display: flex;
    justify-content: center;
    
    margin-bottom: 5%;
    margin-top: 3%;
    
}
.accordion-asicHosting{
    width: 800px;
}
.content.show.asicHosting{
    color: white;
    height: auto;
    font-family: rouben;
    max-height: 9999px;
    transition: all 0.5s cubic-bezier(1,0,1,0);
}
.content.asicHosting{
    color: #0c13179f;
    max-height: 0;
    font-family: rouben;
    overflow: hidden;
    transition: all 1.1s cubic-bezier(0,1,0,1);
}
.lineaTitulo-asic{
    display: flex;
    border-bottom: 1px solid white;
    width: 75vw;
    margin-left: 20%;
}

@media  only screen and (max-width:1500px){

    .card-asicHosting{
        display: flex;
        flex-direction: column;
        margin-top: 5%;
        
        
        padding: 0;
       
        height: 100%;
        background-color: white;
        border-radius: 10px ;
    }
    .cards-productos-asicHosting{
        display: flex;
        margin-left: auto;
        margin-right: auto;
     
       
    }
    .boton-asicHosting{
        width: 80px;
    }
}