.logged-bienvenida{
    display: flex;
    justify-content: center;
    color: white;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    margin-top: 2%;
    margin-left: 13%;

    
    
}

.container-logged{
    display: flex;
    background: #ffffffdb;
    justify-content: center;
    align-content: center;
    height: 40vh;
    width: 60vw;
    border: 4px solid #36B079;
    border-radius: 10px;
    margin-top: 3%;
    margin-left: 25vw;

}

.foto-container-logged{
    display: flex;
    margin-top: 12%;
    height: 70%;
    width: 100%;
    
    
}
.subcontainer-logged{
    margin: auto;
    height: 100%;
}
.subcontainer2-logged{
    width: 45%;
    margin: auto;
    color: #0c1317;
    font-family: rouben;
  
}
.titulo-subcontainer-logged{
    font-size: 1.3rem;
    margin-bottom: 5%;
}
.subtitulo-subcontainer-logged{
    font-size: 0.9rem;
    color: #0c13178d;
    margin-bottom: 5%;
}
.precio-subcontainer-logged{
    font-size: 3rem;
    text-align: center;
    width: 70%;
}
.span-subcontainer-logged{
    font-size: 1rem;
}
.oferta-subcontainer-logged{
    display: flex;
    color: white;
    margin-top: 5%;
    background-color: #36B079;
    width: 90%;
    justify-content: center;
    align-items: center;
    padding: 15px 15px;
    height: 45px;
    margin-right: 0;
    border-radius: 5px;
    font-family: rouben;
    cursor: pointer;
}

.container2-logged{
    background: #ffffffdb;
    font-family: rouben;
    color: #0c1317;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 30vh;
    width: 60vw;
    border: 4px solid #36B079;
    border-radius: 10px;
    margin-top: 3%;
    margin-bottom: 7%;
    margin-left: 25vw;
}
.titulo-subcontainer2-logged{
    font-size: 1.3rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
}
.subtitulo-subcontainer2-logged{
    font-size: 0.9rem;
    color: #0c13178d;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
}
.inputs-subcontainer{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.input-logged-subcontainer{
    display: flex;
    height: 35px;
    width: 500px;
    margin-right: 5%;
    border-radius: 5px;
    
}
.buscar-logged-subcontainer{
    margin-top: -0.5%;
    background: #36B079;
}

@media only screen and (max-width: 1300px) {

    .oferta-subcontainer-logged{
        width: 80%;
        
    }
    .precio-subcontainer-logged{
        font-size: 2rem;
    }

    .input-logged-subcontainer{
        width: 350px;
    }
    .container-logged{
        margin-left: 30vw;
    }
    .container2-logged{
        margin-left: 30vw;
    }
}
/* @media only screen and (max-width: 1200px) {} */