@import url("./Home.css");
@import url("./Navbar.css");

@font-face {
    font-family: 'Rouben';
    src: url(../../../public/fonts/Rouben-Medium.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Rouben ligth';
    src: url(../../../public/fonts/Rouben-Light.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  .logged-home-container{
    background-color: #77aa77;
background-image: url("../../../public/background2.svg");
background-size: cover;
height: 110vh;
  }