@import url("./Home.css");
@import url("./Navbar.css");
@import url("./Cards.css");

@font-face {
    font-family: 'Rouben';
    src: url(../../../public/fonts/Rouben-Medium.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Rouben ligth';
    src: url(../../../public/fonts/Rouben-Light.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  .logged-home-container{
    background-image: url("../../../public/fondoFinal7.svg");
    background-size: cover;
    height: 110vh;
  }

  .logged-home-cards{
    
    display: grid;
    margin-left: 400px;
    grid-template-columns: auto auto;
    margin-bottom: 50px;
    
  }
  .logged-home-cards-sin-sidebar{
    display: grid;
    margin-left: 400px;
    grid-template-columns: auto auto auto ;
    margin-bottom: 50px;
    
    
  }
  .input-proyecto{
    margin-top: 30px;
    margin-left: 400px;
    height: 40px;
    width: 48%;
    border-radius: 5px;
    background-color: black;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.465);
    padding: 0px 30px;
    font-family: open sans;
    font-weight: bold;
  }

  .button-proyecto{
    margin-left: 20px;
  }

  .logged-home-component-sin-sidebar{
    transform: translateX(-240px); 
    transition: transform 1s ease-in-out
  }