@import url("./Home.css");
@import url("./Navbar.css");
@import url("./Cards.css");

@font-face {
    font-family: 'Rouben';
    src: url(../../../public/fonts/Rouben-Medium.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Rouben ligth';
    src: url(../../../public/fonts/Rouben-Light.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  .logged-home-container{
    background-image: url("../../../public/fondoFinal7.svg");
    background-size: cover;
    height: 110vh;
  }
  .contenedor-charts{
    margin-left: -240px;
  }
  .logged-home-cards{
    display: grid;
    grid-template-columns: 35% 35%;
    margin-top: 50px;
    background-color: #1e2b3193;
    justify-content: center;
    border-radius: 10px;
    margin-left: 300px;
    
    width: 65%;
    
  }
  .logged-home-cards-sin-sidebar{
    display: grid;
    justify-content: center;
    margin-left: 300px;
    grid-template-columns: 25% 25% 25% ;
    margin-bottom: 200px;
    background-color: #1e2b3193;
    width: 75%;
    margin-top: 50px;
    border-radius: 10px;
  
    
    
  }
  .input-proyecto{
    margin-top: 30px;
    margin-left: 300px;
    height: 40px;
    width: 50%;
    border-radius: 5px;
    background-color: black;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.465);
    padding: 0px 30px;
    font-family: open sans;
    font-weight: bold;
  }
  .chart-asic-hosting{
   
    margin-left: 320px;
    width: 600px;
  }
  .chart-line-asic-hosting{
    
    margin-left: 320px;
    width: 600px;
    height: 300px;
  }
  .contenedor-general-charts{
    display: flex;
    margin-top: 50px;
    background-color: #1e2b31c9;
    border-radius: 10px;
    margin-left: 300px;
    margin-right: 100px;
    width: 75%;
  }

  .contenedor-hardware{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    border: 2px solid #36B079;
    border-radius: 5px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
  }
  .button-proyecto{
    margin-left: 20px;
  }
  .total-balance{
    background-color: rgba(0, 0, 0, 0.455);
    margin-left: auto;
    margin-right: auto;
    font-family: rouben;
    justify-content: center;
    text-align: center;
    font-size: 1.3rem;
    margin-top: 20px;
    width: 220px;
    height: 80px;
    margin-top: 20px;
    color: white;
    border-radius: 5px;
    border: 2px solid #36B079 ;
  }
  .total-balance h5{
    color: #36B079;
    margin-top: 10px;
    font-size: 1.8rem;
  }
  .contenedor-hardware h4{
    display: flex;
    color: white;
    width: 100%;
    font-family: rouben;
    text-decoration:underline;
    font-size: 1.3rem;
    justify-content: center;
    margin-left: 0;
  }
  .foto-hardware{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    /* border: 2px solid #36B079;
    border-radius: 50px; */
  }

  .logged-home-component-sin-sidebar{
    background-image: url("../../../public/fondoFinal7.svg");
    background-size: cover;
    min-height: 100vh;
    min-width: 120vw;
    transform: translateX(-240px); 
    transition: transform 1s ease-in-out
  }
  .logged-home-component{
    background-image: url("../../../public/fondoFinal7.svg");
    background-size: cover;
    min-height: 100vh;
    min-width: 115vw;
    transform: translateX(0px); 
    transition: transform 1s ease-in-out
  }


  .probando-index{
   
    margin-top: 50px;
    background-color: #1e2b31c9;
    border-radius: 10px;
    margin-left: 300px;
    margin-bottom: 100px;
    width: 68%;
  }


  .contenedor-before{
    display: flex;
    flex-direction: column;
    background-color: #1e2b31c9;
    margin-top: 20px;
    width: 50%;
    height: 200px;
    border-radius: 10px;
    margin-left: 300px;
  }
  .contenedor-before h1{
    display: flex;
    color: white;
    font-family: rouben ligth;
    font-size: 1.8rem;
    margin: auto;

  }
  .contenedor-before button{
    width: 30%;
    background-color: #36B079;
    margin: auto;
  }
  .contenedor-before span{
    display: flex;
    color: rgba(255, 255, 255, 0.618);
    font-family: rouben ligth;
    margin: auto;
    font-size: 1.1rem;
  }

  .contenedor-hostingBought{
    display: flex;
    background-color: #1e2b3193;
    height: 700px;
    width: 40%;
    margin-left: 300px;
    margin-top: 50px;
  }
  @media only screen and (max-width: 550px) {

    .logged-home-component{
      min-width: 10vw;
    }
    .logged-home-cards{
      display: flex;
      flex-direction: column;
      margin-top: 50px;
      background-color: transparent;
      justify-content: center;
      border-radius: 10px;
      margin: auto;
      width: auto;
    }
    .probando-index{
      margin-top: 50px;
      background-color: transparent;
      border-radius: 10px;
      margin-left: 0px;
      margin-bottom: 100px;
      width: 100%;
    }
  }